<!DOCTYPE html>
<html>
<head>
  <title> Search </title>
  <link rel = "stylesheet" type="text/css" href="search2Style.css">
  </head>
  <body>
      <div class = "header1">
          <div class = "search">
              <form>
                  <input type = "text" placeholder = "Hotel Name">
                  <a class="btn" href="#" button type="button">Search</button> </a>    
              </form>
       </div>
      </div>
      <div class ="rating">
            <h1> Search By Name </h1>
            <div class="search-box2">
                 <input  class ="search-txt"  type = "text" name="" placeholder="              FROM">
            </div>
            <div class="search-box3">
                 <input class ="search-txt" type = "text" name="" placeholder="                 TO">
            </div>
                <a class="search-btn" href="#" button type="button">Search</button> </a>
               
            </div>
          
      </body>
      </html>