<!DOCTYPE html>
<html>
    <head>
        <title> Update </title>
        <link rel = "stylesheet" type="text/css" href="updateStyle.css">
    </head>
    <body>
        <h1> What do you want to do ? </h1>
        <div class="search-box1">
            <input class ="search-txt" type = "text" name="" placeholder="Old Password">
        </div>
        <div class="search-box2">
             <input class ="search-txt" type = "text" name="" placeholder="New Password"><br>
         </div>
         <div class="search-box3">
             <input class ="search-txt" type = "text" name="" placeholder="Confirm Password">
        </div>
        <div class = "update">
        <a class="search-btn" href="#" button type="button">Update Password</button> </a>
        </div>
        <div class = "delete">
        <a class="search-btn" href="#" button type="button">Delete Account </button> </a>
        </div>
    </body>
</html>